.card-header{
    display: flex;
    justify-content: space-between;
}

small.show-more:hover{
    cursor: pointer;
}
small.show-more:hover{
    text-decoration: underline;
}
.card_subFlex{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
}
.stars {
    color: #FFC107;
    font-size: 25px;
    float: right;
}
span.stars, span.stars span {
    display: block;
    background:url("./star.png")  0 -16px repeat-x;
    width: 80px;
    height: 16px;
    color: #FFC107;

}

span.stars span {
    background-position: 0 0;
}
.item-card{
    box-shadow: 0px 5px 8px 1px #5c4922;
    border-end-end-radius: 20px!important;
    cursor: pointer;
}
.card-price{
    font-family: fantasy;
    color:#d15834 ;
}

.item-card .card-title{
    font-family: fantasy;
}
.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    color: #fff;
    background-color: #d15834 !important;
}
.prods_container{
    max-width: 1440px!important;
    margin: 0 auto !important;
}