nav a.active {
    color: rgb(169, 241, 86)!important;
  }


.navbar-nav, .navbar{
  align-items: baseline!important;
}
.navbar-brand, .nav-link{
  color:cyan!important;
}
.navbar-cart{
  font-size: 25px;
    margin-left: 10px;
    z-index: 3;
  position: relative;

}
.nav-link{
  padding:0!important;
  margin: 0 10px;
}
.cart-nav-link{
  position: relative;
}

.cart-nav-link .cart-number{
  position: absolute;
    left: 60%;
    bottom: 40%;
    color: red;
}
.user-avatar{
  border-radius:50%;
  width: 35px;
  height: 30px;
}
.dropdown-menu.user-drop-down[data-bs-popper] {
  top: 120%;
  left: -100%;
  min-width: 50px;

}

button.nav-link {
  background-color: transparent;
  outline: none;
  border: none;
}